* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, azure, deeppink);
  font-family: sans-serif;
  color: #1e471e;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: aqua;
}

.player-1-div,
.computer-div {
  max-width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.player-1-div {
  background-color: yellowgreen;
}

.computer-div {
  background-color: orangered;
}

header,
main {
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

.star-div,
.rps-icon-div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.star {
  max-height: 50px;
  max-width: 50px;
}

.icon-rps {
  max-height: 50px;
  max-width: 50px;
}
